{
  "presets": ["env", "stage-2"],
  "plugins": [
    "transform-export-extensions",
    ["module-resolver", {
      "root": ["./src/app"],
      "alias": {
        "config": "./src/config",
        "utils": "./src/utils",
        "modules": "./src/modules",
        "core": "./src/core",
        "helpers": "./src/helpers",
        "routes": "./src/routes"
      }
    }]
  ]
}
